.badges {
    fill: $color-secondary;
    height: 6rem;
    width: 6rem;
    background-color: $color-primary;
    border-radius: 50%;
    padding: .7rem;
    
    &__container {
        position: relative;

        &:hover {
            cursor: pointer;
        }


    }

    &__icon {
        @include center-element;
        color: $color-primary !important;
        // height: 2rem;
        // width: 2rem;
        font-size: 2rem;
        z-index: 2
    }

    &__text {
        width: 6rem;
        color: black !important;
        text-align: center;
        font-family: 'Monda', sans-serif !important;
        font-size: 1.1rem;
        z-index: 3;
    }

}