.button {

  &:active {
    outline: none;

  }

  &__primary {
    font-family: $header-font;
    font-size: $default-button-font-size;
    color: white;
    background-color: $color-primary;
    border-radius: 4px;
    border: 2px solid $color-primary;
    box-shadow: $shadow-light;
    padding: 1rem 2rem;

    &:hover {
      color: $color-secondary;
      background-color: $color-primary-dark;
      border: 2px solid $color-primary-dark;
      box-shadow: $shadow-dark;
      transform: scale(1.009);
      transition: .2s;
    }

    &--ko {
      color: $color-primary;
      background-color: white;
      box-shadow: $shadow-light;

      &:hover {
        color: $color-primary-dark;
        background-color: $color-secondary;
        border: 2px solid $color-secondary;
        box-shadow: $shadow-dark;
      }
    }

    &--sm {
      padding: .5rem 1rem;
      font-size: 1.2rem;
    }
  }

  &__secondary {
    font-family: $header-font;
    font-size: $default-button-font-size;
    color: $color-primary;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid $color-primary;
    box-shadow: $shadow-light;
    padding: 1rem 2rem;

    &:hover {
      color: $color-primary-dark;
      border: 2px solid $color-primary-dark;
      box-shadow: $shadow-dark;
      transform: scale(1.009);
      transition: .2s;
    }

    &--ko {
      color: white;
      background-color: transparent;
      border: 2px solid white;
      box-shadow: $shadow-light;

      &:hover {
        color: $color-secondary;
        background-color: transparent;
        border: 2px solid $color-secondary;
      }

    }

    &--sm {
      padding: .5rem 1rem;
      font-size: 1.2rem;
    }
  }
  &__text {
    font-family: $header-font;
    font-size: $default-button-font-size;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-slate;
    background-color: transparent;
    border: none;
    padding: 1rem 2rem;
    &:hover {
      color: $color-secondary-dark;
      transition: .2s;
    }

    &:focus {
      outline: none;
      text-decoration: underline;
    }

    &--ko {
      color: white;
      background-color: transparent;

      &:hover {
        color: $color-secondary;
      }
    } 

    &--sm {
      padding: .5rem 1rem;
      font-size: 1.2rem;
    }
  }
}


