.dropdown {
  display: inline-block;
  width: 100%;

  &:hover {


  }
  
  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $header-font;
    box-shadow: $shadow-light;
    
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: $color-primary;
    color: white;
    
    &:hover {
      background-color: $color-primary-dark;
      color: $color-secondary;
      cursor: pointer;
      box-shadow: $shadow-dark;

      & .icon--sm {
        color: $color-secondary !important;
      }
    }
    
    &:focus {
      border-radius: 0;
      outline: none;
    }
    
    &--title {
      margin-right: 2rem;
      font-size: 1.8rem;
    }
    
    &--icon {

    }
  }
  
  &__content {
    animation: dropdown .4s ease-out forwards;
    
  }
}
