.inline-dropdown {
  // position: relative;
  

  &__btn {
    padding: 1.5rem;
    border: none;
    background-color: $color-primary;
    &:hover {
      background-color: $color-primary-dark;
    }
    &:focus {
      background-color: $color-primary-dark;
      border-radius: 0;
      outline: none;
    }
  }

  &__content {
    position: absolute;
    z-index: 99;
  }

}
