.menu {
  background-color: $color-primary;
  color: white;
  display: flex;
  flex-direction: column;

  &--dark {
    background-color: $color-primary-dark;
  }

  &--ko {
    background-color: white;
    color: $color-primary;


  }

  &__option {
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;

    &:hover {
      background-color: $color-primary-light;
      color: $color-secondary;
      cursor: pointer;
      text-decoration: none;
    }

    &:active {
      background-color: $color-primary-dark;
      color: $color-secondary;
    }

    &--ko {
      &:hover {
        background-color: $color-secondary-light;
        color: $color-primary;
      }
      
      &:active {
        background-color: $color-secondary;
        color: $color-primary;
      }
    }
  }
}