// COLORS
$color-primary: #004983;
$color-primary-light:#0181E4;
$color-primary-dark:#033861;

$color-secondary: #EF7334;
$color-secondary-light:#FFAE85;
$color-secondary-dark:#A33902;

$color-slate: #535558;

// Font
$default-font-size: 1.6rem;
$header-font: 'Montserrat';
$paragraph-font: 'Arial';

$font-thin: 300;
$font-regular: 400;
$font-bold: 700;
$default-button-font-size: 1.8rem;

// Shadow
$shadow-dark: 0 2rem 2.5rem rgba(0,0,0,.5);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.2);

// Border
$border-rad-sm: 3px;